body
{
    background-image: url('backround.jpg');
          background-repeat: no-repeat;
          background-attachment: fixed;
          background-size: 120% 120%;
          color: white;
}
h1
{
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
    color:black ;
}
table, tr,td{
    font-family:Georgia, 'Times New Roman', Times, serif ;
    background-image: url('back.jpg');
    background-size: 100% 100%;
    border: 1px solid white;
}
s1{
    color:black;
    font-family: Georgia, 'Times New Roman', Times, serif; 
    background-color: white;
}
s2{
    color:black;
    font-family: Georgia, 'Times New Roman', Times, serif; 
    background-color: white;

}
